.main__title {
    width: 300px;
    font-size: larger;
}

.post {
    display: -webkit-inline-box;

}

.post__img {
    width: 300px;
    height: 200px;
}

.btn-fav {
display: flex;
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
}

.post__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    width: 300px;

}

.post__posts {
    margin-right: 90px;
}


.img__logo{
    width: 44px;
}

.tags{
    display: flex;
    border-bottom: groove;

}

.tags__link{
    margin-left: 50px;
    width: 200p;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    width: 22px;
    margin-top: -14px;
    margin-bottom: 36px;
}