<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static_files %}
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'common/css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'common/css/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'common/css/main.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@200;700&family=Open+Sans:wght@400;700&display=swap"
          rel="stylesheet">
    {% endblock static_files %}
    <title>
      {% block title %}
        Store sale
      {% endblock title %}
    </title>
</head>
<body class="page">
{% block header %}
    <header class="header container">
        {% block login %}
        <nav class="menu">
            {% if not user.is_authenticated %}
            <img class="header__logo" src="{% static 'common/logo/logo.png' %}" alt="logo">
                <nav class="header_btn">
                    <button class="btn"><a class="btn" href="{% url 'new_app:login' %}">Login</a></button>
                    <button class="btn"><a class="btn" href="{% url 'new_app:signup' %}">Signup</a></button>
                </nav>
            {% else %}
            <img class="header__logo" src="{% static 'common/logo/logo.png' %}" alt="logo">
            <nav class="header_btn">
                <form class="menu__form" action="{% url 'new_app:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit">logout</button>
                </form>
            </nav>
            {% endif %}
        {% endblock login %}
            {% endblock header %}
        </nav>
    </header>
    <div class="content container">
        {% block body %}

        {% endblock body %}
    {% block footer %}
    </div>
    <footer class="footer">
                <div class="footer__main container">
            <div class="footer__navigation">
                <p class="footer__text">Текст для заполнения</p>
                <p class="footer__navigation__block__caption">Navigation</p>
                <hr class="footer__navigation__line">
                <a class="footer__navigation__link" aria-label="Переход по ссылке на главную страницу" href="index.html">About Us</a>
                <a class="footer__navigation__link" aria-label="Переход по ссылке на страницу блога" href="Blog.html">Blog</a>
                <a class="footer__navigation__link" aria-label="Переход по ссылке Design Services" href="#">Design Services</a>
                <a class="footer__navigation__link" aria-label="Переход по ссылке Featured On" href="#">Featured On</a>
                <a class="footer__navigation__link" aria-label="Переход по ссылке 2018 Holiday Catalog" href="#">2018 Holiday Catalog</a>
                <a class="footer__navigation__link" aria-label="Переход по ссылке Shop By Designer" href="#">Shop By Designer</a>

            </div>
    </footer>
    {% endblock footer %}
</body>
</html>