

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static_files %}
    {% endblock static_files %}
    <title>
      {% block title %}
        OVITO
      {% endblock title %}
    </title>
</head>
<body class="page">
    <header class="header">
        {% block login %}
        <nav class="menu">
            {% if not user.is_authenticated %}
            <p class="menu__item"><a href="{% url 'new_app:login' %}">Login</a></p>
            <p class="menu__item"><a href="{% url 'new_app:signup' %}">Signup</a></p>
            {% else %}
            <form class="menu__form" action="{% url 'new_app:logout' %}" method="post">
                {% csrf_token %}
                <button class="menu__form__btn" type="submit">logout</button>
            </form>
            {% endif %}
        {% endblock login %}
        </nav>

    </header>
    <div class="content">
        {% block body %}

        {% endblock body %}
    </div>
    <footer class="footer">

    </footer>

</body>
</html>